<div class="bg-[#1A202C] py-10 border border-gray-100 rounded-r-xl min-h-screen text-gray-200">
    <h2 class=" text-center font-bold text-xl ">Dashboard</h2>
    <div class=" py-6">
        <ul class="">
            <li class="hover:bg-slate-600 py-3 text-xl my-1 px-6">
                <a class="w-full block" href="/admin/user"> 
                    <i class="fa fa-user" aria-hidden="true"></i> User
                </a>
            </li>
            <li class="hover:bg-slate-600 py-3 text-xl my-1 px-6">
                <a class="w-full block" href="/admin/category">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Category
                </a>
            </li>
            <li class="hover:bg-slate-600 py-3 text-xl my-1 px-6">
                <a class="w-full block" href="/admin/product">
                    <i class="fa fa-file" aria-hidden="true"></i> Product
                </a>
            </li>
            <li class="hover:bg-slate-600 py-3 text-xl my-1 px-6">
                <a class="w-full block" href="/admin/comment">
                    <i class="fa fa-comment" aria-hidden="true"></i> Comment
                </a>
            </li>
        </ul>
    </div>
</div>