
<form class=" mx-auto px-6 py-4" method="post" action="/admin/category/update" enctype="multipart/form-data">
    <div class=" flex gap-4">
      <div class="mb-5 w-1/2">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text" name="name" id="" value="<%= category.name %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
      </div>
      
    </div>
    
  
    <div>
      <div class="mb-5">
        <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
        <input type="file" name="image" id="imageInput" accept="image/*" />
        <img id="previewImage" class="py-4" src=" /uploads/<%=category.image %>" style=" max-width: 300px; max-height: 300px;" />
      </div>
    </div>
        <input type="hidden" name="idCategory" value="<%= category._id %>">
        <input type="hidden" name="image_old" value="<%= category.image %>">
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
    <script src="/js/admin/user/changeImg.js"></script>