
<footer class="bg-gray-100">
    <div class="container m-auto py-8 bg-white px-6 rounded-md">
        <div class="grid grid-cols-4 gap-3">
            <div class="">
                <div>
                    <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo.png" alt="">
                </div>
                <div class="py-3 flex flex-col gap-1">
                    <p class=" text-sm text-gray-600">Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCM</p>
                    <p class=" text-sm text-gray-600">Công Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA</p>
                    <p class=" text-sm text-gray-600">60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam</p>
                    <p class=" text-sm text-gray-600">nhận đặt hàng trực tuyến và giao hàng tận nơi.</p>
                    <p class=" text-sm text-gray-600">KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng</p>
                </div>
            </div>

            <div class="border-l px-6">
                <h2 class="font-bold py-2">DỊCH VỤ</h2>
                <div class="flex flex-col gap-2">
                    <p class=" text-sm text-gray-600">Điều khoản sử dụng</p>
                    <p class=" text-sm text-gray-600">Chính sách bảo mật thông tin cá nhân</p>
                    <p class=" text-sm text-gray-600">Chính sách bảo mật thanh toán</p>
                    <p class=" text-sm text-gray-600">Giới thiệu Fahasa</p>
                    <p class=" text-sm text-gray-600">Hệ thống trung tâm - nhà sách</p>
                    <p class=" text-sm text-gray-600"></p>
                </div>
            </div>

            <div class=" px-6">
                <h2 class="font-bold py-2">HỖ TRỢ</h2>
                <div class="flex flex-col gap-2">
                    <p class=" text-sm text-gray-600">ĐChính sách đổi - trả - hoàn tiền</p>
                    <p class=" text-sm text-gray-600">Chính sách bảo hành - bồi hoàn</p>
                    <p class=" text-sm text-gray-600">Chính sách vận chuyển</p>
                    <p class=" text-sm text-gray-600">Chính sách khách sỉ</p>
                    <p class=" text-sm text-gray-600">Phương thức thanh toán và xuất HĐ</p>
                    <p class=" text-sm text-gray-600"></p>
                </div>
            </div>

            <div class=" px-6">
                <h2 class="font-bold py-2">TÀI KHOẢN CỦA TÔI</h2>
                <div class="flex flex-col gap-2">
                    <p class=" text-sm text-gray-600">Đăng nhập/Tạo mới tài khoản</p>
                    <p class=" text-sm text-gray-600">Chính sách bảo hành - bồi hoàn</p>
                    <p class=" text-sm text-gray-600">Thay đổi địa chỉ khách hàng</p>
                    <p class=" text-sm text-gray-600">Chi tiết tài khoản</p>
                </div>
            </div>
        </div>
    </div>
</footer>